@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: inter, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(36, 62, 99);
}

section {
  padding: 0px 32px;
}

.purple {
  color: rgb(100, 21, 255);
}

nav {
  padding-top: 32px;
  display: flex;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
}

a {
  display: inline;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 36px;
  color: rgb(26, 32, 44);
  line-height: 1.25;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

button {
  cursor: pointer;
}


ul {
  display: flex;
}


li {
  list-style-type: none;
}


.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  margin: 8px 0;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  position: relative;
  border-bottom: 2px solid transparent;
}

.container {
  padding: 96px 0px;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  width: 40%;
}

.header__description--para {
  margin: 32px 0px;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  border-radius: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(229, 231, 235);
  border-image: none;
  padding: 20px 192px 20px 32px;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  height: calc(100% - 16px);
  width: 160px;
  background-color: rgb(100, 21, 255);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  margin: 8px;
  border-radius: 500px;
  border-width: medium;
  border-style: none;
  border-color: currrentcolor;
  border-image: none;
  transition: 300ms;
}

.header__customer--title {
  margin-top: 80px;
  color: rgb(160, 174, 192);
  font-weight: 12px;
  font-weight: 700;
}

.header__img-wrapper {
  width: calc(60%);
}